@import "tailwindcss"

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-font-family:"Inter", sans-serif;
    --primary-gradient:linear-gradient(45deg ,#F7E93F,#FB09B4,#9100F8);
}

.inter-font {
  font-family: var(--primary-font-family);
  
}

.primary-gradient{
    background: var(--primary-gradient);
}

.container-max-width {
    max-width: 1200px;
}

.paragraph{
    font-size: 1rem;
    font-weight: 500;
    color: #8b8a8a;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    stroke: rgba(0, 0, 0, 1);
    stroke-width: 1%;
}

.heading {
    font-weight: bold;
    font-size: 3rem;
    color: white;
}